html {
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
}

.masthead,
.contact,
footer {
  background-color: #cce3de;
}

nav {
  position: relative;
  z-index: 2;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color: #a4c3b2;
  border-radius: 3px;
}

.about {
  position: relative;
}

.about-content {
  background-color: #cce3de;
}

.btn {
  background-color: #9f2042;
  border: none;
}

.btn:hover {
  background-color: #6b9080;
  border: none;
}

.btn-ghost {
  border: none;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #6b9080;
  color: #fff;
}

.button-wrapper:hover {
  background: transparent;
}

.logo {
  background-color: transparent;
}

.logo:hover {
  background-color: transparent;
}

.contact {
  color: #000;
  list-style: none;
}

.icon:hover {
  cursor: pointer;
}

.social-icon {
  color: #9f2042;
}

@media only screen and (min-width: 35em) {

  .about-content {
    bottom: 0;
    position: absolute;

    background-color: transparent;
  }

}
